/* ver 2.0 */
/* 모든 태그에 적용 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body,
talbe,
th,
td,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
textarea,
blockquote,
span,
* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}

* {
  font-family: Malgun Gothic;
  font-size: 16px;
  margin: 0px; /* top right bottom left */
  padding: 0px;
  color: #555555;
}
li {
  list-style: none;
}

/* 이미지 사용시 경로 지정
 /css/images/top_image_1920.jpg
 Spring Boot: /static/css/images/top_image_1920.jpg
 */
.top_img {
  height: 170px;
  background: #269546;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.top_menu_label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 17px;
}

.top_menu_label ul {
  display: flex;
  margin-bottom: 0px;
}
.top_menu_label a {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #fff !important;
}

.top_menu_label a img {
  width: 100px;
}

.top_menu_label a:hover {
  text-decoration: none;
}
.top_menu {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}

.top_menu ul {
  display: flex;
  justify-content: space-between;

  padding: 0 1.5rem;
}

.top_menu ul li a {
  color: #fff;
}

/* 화면 상단 메뉴 세로 구분선
    <span class='top_menu_sep'>&nbsp;</span> */
.top_menu_sep {
  background: url("/css/images/gray.jpg") center center no-repeat;
  background-size: 1px;
  width: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.menu_line {
  border-bottom: solid 1px #222;
  padding: 1rem;
}

.left_menu {
  width: 15%;
  float: left;
}

/* 화면 내용 하단 메뉴 우측 배치 */
.content_body_bottom {
  clear: both;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: right;
  width: 100%;
  background-color: white;
}

.content_bottom {
  width: 90%;
  margin: 10px auto;
}

.bottom_menu {
  text-align: center;
  margin: 20px auto;
  clear: both; /* 앞쪽 태그의 float 효과를 제거함. */
}

.aside_left {
  float: left;
  font-size: 1.3em;
}

/** 본래의 A 태그의 크기를 제거하고 부모의 가변 크기를 사용 */
.aside_left A {
  font-size: 1em;
}

.aside_right {
  display: flex;
  justify-content: flex-end;

  font-size: 0.9em;
}

.aside_right li {
  list-style: none;
}
/* ASIDE 메뉴 세로 구분선 */
.menu_divide {
  /* 서브 메뉴의 세로 구분선 */
  color: #777777;
  font-size: 0.8em; /* 부모 글자 크기에 비해서 80%로 출력 */
  vertical-align: 10%; /* 0%는 bottom 기준 */
}

.copyright {
  margin-top: 10px;
  border-top: solid 1px #999999;
  text-align: center;
  clear: both; /* 앞쪽 태그의 float 효과를 제거함. */
}

.li_none {
  list-style: none;
  margin: 15px 10px;
}

.li_none_left {
  text-align: left;
  list-style: none;
  margin: 15px 10px;
}

.li_warning {
  /* 경고 메시지 */
  list-style: none;
  margin: 15px 10px;
  color: #ff6600;
}

.li_error {
  /* 에러 메시지 */
  list-style: none;
  margin: 15px 10px;
  color: #ff0000;
}

.li_right {
  text-align: right;
  list-style: none;
  margin: 20px auto;
  padding-right: 20px;
}

.fieldset_basic {
  width: 100%;
  margin: 10px auto;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  padding: 10px;
}

.legend_basic {
  margin-left: 30px;
  border: solid 1px #999999;
  background-color: #a6c2ff;
  color: #ffffff;
}

.input_basic {
  border-top: none;
  border-right: none;
  border-bottom: solid 1px #999999;
  border-left: none;
  padding-left: 2px;
}

.textarea_basic {
  border-top: solid 1px #999999;
  border-right: solid 1px #999999;
  border-bottom: solid 1px #999999;
  border-left: solid 1px #999999;
  padding-left: 2px;
}
.content_body {
  max-width: 1200px;
  margin: 0 auto;
}
.title_line {
  margin: 20px auto;

  color: #222;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.title_link:link {
  /* 방문전 상태 */
  font-size: 20px;
  text-decoration: none; /* 밑줄 삭제 */
}

.title_link:visited {
  /* 방문후 상태 */
  font-size: 20px;
  text-decoration: none; /* 밑줄 삭제 */
}

.title_link:hover {
  /* A 태그에 마우스가 올라간 상태 */
  font-size: 20px;
  text-decoration: none; /* 밑줄 출력 */
}

.title_link:active {
  /* A 태그를 클릭한 상태 */
  font-size: 20px;
  text-decoration: none; /* 밑줄 출력 */
}

.sub_menu {
  text-align: right;
  width: 100%;
}

.table_basic {
  border-collapse: collapse;
  margin: 2px auto;
  width: 100%;
}

/* 1em 기본값 : 16px, 주변 태그의 글자크기를 1em으로 인식
     DIV 태그가 20px 일경우 자식태그가 0.5em이면 최종적으로 10px이 적용됨.
     DIV 태그가 20px 일경우 자식태그가 1em이면 최종적으로 20px이 적용됨.
     DIV 태그가 20px 일경우 자식태그가 1.5em이면 최종적으로 30px이 적용됨.
 */
.th_basic {
  font-size: 0.8em;
  border-bottom: solid 3px #dddddd;
}

.th_bs {
  text-align: center;
}

.td_basic {
  border-top: none;
  border-right: none;
  border-bottom: solid 1px #dddddd;
  border-left: none;
  text-align: center;
}

.td_left {
  border-top: none;
  border-right: none;
  border-bottom: solid 1px #dddddd;
  border-left: none;
  text-align: left;
}

.td_bs {
  text-align: center;
}

.td_bs_left {
  text-align: left;
}

A:link {
  /* 방문전 상태 */
  text-decoration: none; /* 밑줄 삭제 */
  color: #555555;
}

A:visited {
  /* 방문후 상태 */
  text-decoration: none; /* 밑줄 삭제 */
  color: #555555;
}

A:hover {
  /* A 태그에 마우스가 올라간 상태 */
  text-decoration: underline; /* 밑줄 출력 */
  color: #7777ff;
}

A:active {
  /* A 태그를 클릭한 상태 */
  text-decoration: underline; /* 밑줄 출력 */
  color: #7777ff;
}

.menu_link:link {
  /* 방문전 상태 */
  text-decoration: none; /* 밑줄 삭제 */
  color: #fff;
}

.menu_link:visited {
  /* 방문후 상태 */
  text-decoration: none; /* 밑줄 삭제 */
  color: #fff;
}
.top_menu_label .menu_link {
  font-size: small;
}
.top_menu_label .menu_link:hover {
  text-decoration: underline;
}
.top_menu .menu_link {
  font-weight: bold;
  transition: all 0.3s;
}
.top_menu .menu_link:hover {
  /* A 태그에 마우스가 올라간 상태 */
  color: #f58220;
}

.menu_link:active {
  /* A 태그를 클릭한 상태 */
  text-decoration: underline; /* 밑줄 출력 */
  color: #fff;
}

.recom_link:link {
  /* 방문전 상태 */
  text-decoration: none; /* 밑줄 삭제 */
  color: #555555;
  font-size: 0.8em;
}

.recom_link:visited {
  /* 방문후 상태 */
  text-decoration: none; /* 밑줄 삭제 */
  color: #555555;
  font-size: 0.8em;
}

.recom_link:hover {
  /* A 태그에 마우스가 올라간 상태 */
  text-decoration: none; /* 밑줄 출력 */
  color: #7777ff;
  font-size: 0.8em;
}

.recom_link:active {
  /* A 태그를 클릭한 상태 */
  text-decoration: none; /* 밑줄 출력 */
  color: #7777ff;
  font-size: 0.8em;
}

.content_title {
  border-top: none;
  border-right: none;
  border-bottom: solid 1px #dddddd;
  border-left: none;
  margin-bottom: 20px;
}

.content_bottom {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 0.9em;
}

.li_left_menu_1 {
  /* 화면 좌측 대분류 */
  list-style: none;
  margin-top: 25px;
  background: url(/css/images/li_left_menu_1.png) left center no-repeat;
  background-size: 16px;
  padding-left: 25px;
  line-height: 15px;
}

.li_left_menu_2 {
  /* 화면 좌측 중분류 */
  list-style: none;
  margin: 15px 10px;
  background: url(/css/images/li_left_menu_2.png) left center no-repeat;
  background-size: 16px;
  padding-left: 25px;
  line-height: 15px;
}

.label_basic {
  width: 200px;
  background-color: #99cc00;
  color: #ffffff;
  font-weight: normal;
  display: inline-block; /* DIV 태그처럼 한줄의 영역을 블럭 영역으로 확장 표시 */
  text-align: right;
  padding-right: 10px;
}

/* 기타 메시지 */
.message {
  width: 70%;
  border: none;
  margin: 30px auto;
  text-align: center;
  background-color: #fafafa;
  padding: 30px;
}

/* 알림 메시지 */
.span_info {
  color: #ffffff;
  background-color: rgba(0, 200, 0, 0.6);
  padding: 2px;
}

/* 주의 메시지 */
.span_alert {
  color: #ffffff;
  background-color: rgba(0, 0, 200, 0.6);
  padding: 2px;
}

/* 경고 메시지 */
.span_warning {
  color: #ffffff;
  background-color: rgba(255, 0, 0, 0.6);
  padding: 2px;
}

.msg_warning {
  color: #ffffff;
  background-color: rgba(255, 0, 0, 0.6);
  padding: 2px;
  margin: 10px auto;
  text-align: center;
  width: 80%;
}

/* 처리 성공 메시지 */
.span_success {
  background: url("/css/images/url5.png") left center no-repeat;
  background-size: 10px;
  padding-top: 0px;
  padding-left: 20px;
}

/* 처리 실패 메시지 */
.span_fail {
  background: url("/css/images/url8.png") left center no-repeat;
  background-size: 10px;
  padding-top: 0px;
  padding-left: 20px;
}

.cart_label {
  width: 50%;
  text-align: left;
  float: left;
  font-size: 1.5em;
}
.cart_price {
  width: 50%;
  text-align: right;
  float: left;
  font-size: 1.5em;
}
/* footer */

.ft-container {
  display: flex;
  justify-content: center;

  max-width: 1200px;
  padding: 1.5rem;
  margin: 0 auto;
  border-top: 1px solid #e1e1e1;

  background: #fff;
}

.company-infomation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
}

.company-infomation li {
  list-style: none;
  text-decoration: none;
}

.company-infomation li a {
  color: #666;

  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.company-infomation li a:hover {
  text-decoration: underline;
}

.ft-first {
  flex: 1;
  text-align: center;
}

.ft-irst img {
  width: 150px;
}

.ft-second {
  flex: 1;
}

.ft-second div {
  font-size: 15px;
  letter-spacing: 0.86;
  line-height: 1.5;
}

.ft-second div span:first {
  margin-right: 5px;
}
.ft-second h1 {
  color: #222;
  margin-bottom: 20px;
  letter-spacing: 0.8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.ft-second::after {
  content: "";
  right: -30px;
  width: 1px;
  height: 150px;
  background: #dcdcdc;
  top: 0px;
}

.ft-third {
  flex: 1;
}

.ft-third p {
  font-size: 15px;
  letter-spacing: 0.86;
  line-height: 1.5;
}

.ft-third h1 {
  margin-bottom: 20px;

  color: #222;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 24px;
}

footer p {
  padding: 1rem;
  background: #269546;
  color: #fff;
  text-align: center;
  margin: 0px !important;
}

footer p:hover {
  color: #f58220;
}

.top_menu_label ul li {
  margin-right: 10px;
}

/* 내정보 */
.my-page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0 0 0;
}

.my-page-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-page-container ul li:first-child {
  width: 120px;
  padding: 7px 13px;
  border: 1px solid #e9e9e9;
  text-align: right;
}

.my-page-container ul li:last-child {
  width: 230px;
  padding: 7px 13px;
  border: 1px solid #e9e9e9;

  background: #f7f7f7;
  text-align: left;
  letter-spacing: 0.1em;
  border-left: 0;
}

.slim {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slim li:first-child {
  width: 400px !important;
  text-align: center !important;
  margin-bottom: 10px;
}

.slim li:last-child {
  width: 400px !important;
  text-align: center !important;
  background: #fff !important;
  border-left: 1px solid #e9e9e9 !important;
}

   .explanation{
              width:20%;
              font-size: 1.5em; 
              font-weight: bold;
  }
  
  .category-all-layer{
              padding:20px 20px;
              list-style:none;
              width:100%;
              height: 300px;
              background-color: rgba(50, 50, 255, 0.3);
              font-weight: bold;
  }
  
   .prod_style{
              font-family: Malgun Gothic; 
              width: 150px; 
              float: left; 
              margin: 2%; padding: 0.5%; 
              background-color: #FFFFFF; 
              text-align: center;
              color: black;
  }
  
   .recommend_style{
              font-family: Malgun Gothic; 
              width: 150px; 
              margin: 2%; padding: 0.5%; 
              background-color: #FFFFFF; 
              text-align: center;
              color: black;
  }
  